body {
  background: $colorFCCD12;
}

.currency-main-container {
  padding: 50px;

  .currency-form-container {
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 10px;

    .conversion-icon {
      margin-bottom: 10px;
    }

    .convert-btn {
      background: $color000000;
      border: 1px solid $color000000;

      &:hover {
        color: $colorFCCD12;
      }
    }
  }

  .result-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .currency-main-container {
    .currency-form-container {
      display: block;

      label {
        margin-top: 15px;
      }

      .conversion-icon {
        display: none;
      }

      .convert-btn {
        width: 100%;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 575px) {
  .currency-main-container {
    padding: 20px;
  }

  .result-container {
    margin-top: 30px;
  }
}
