.cocktail-card-wrapper {
  width: calc((100% - 80px) / 5);
  border-radius: 4px;

  .favorite-indicator {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: $colorFF0000;
  }

  .title {
    font-size: 14px;
    margin-bottom: 0;
  }

  .action-btn {
    display: none;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    width: 80%;
  }

  &:hover {
    border: 1px solid $color212529;

    .action-btn {
      display: block;
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .cocktail-card-wrapper {
    width: calc((100% - 40px) / 3);
  }
}

@media (max-width: 767px) {
  .cocktail-card-wrapper {
    width: calc((100% - 20px) / 2);
  }
}
