.all-favorites-wrapper {
  position: relative;
  right: 20px;
  cursor: pointer;

  .count {
    display: flex;
    position: absolute;
    top: -9px;
    right: -18px;
    background: $colorFF0000;
    color: $colorFFFFFF;
    border-radius: 50%;
    font-size: 11px;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
  }

  svg {
    font-size: 24px;
    color: $colorFFFFFF;
  }
}

.favorite-side-drawer {
  top: 60px !important;
  border-top-left-radius: 27px;

  .offcanvas-title {
    font-size: 18px;
  }
}
